// 全局 CSS 变量
@import './variables.css';
// Transition
@import './transition.scss';
// mixin
@import "./mixins.scss";

// 业务画面外边距
.app-container {
    padding: 20px;
}

.app-margin-container {
    margin: 20px;
    background-color: #fff;
}

.app-scroll-container {
    height: calc(var(--v3-appmain-height) - 50px);
    padding: 20px;
    overflow: auto;

    @extend %scrollbar;
}

.app-margin-scroll-container {
    height: calc(var(--v3-appmain-height) - 50px);
    background: #fff;
    margin: 20px;
    overflow: auto;

    @extend %scrollbar;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family:
        Helvetica Neue,
        Helvetica,
        PingFang SC,
        Hiragino Sans GB,
        Microsoft YaHei,
        Arial,
        sans-serif;

    @extend %scrollbar;
}

#app {
    height: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a,
a:focus,
a:hover {
    color: inherit;
    outline: none;
    text-decoration: none;
}

div:focus {
    outline: none;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/*鼠标点击后移开，恢复本身样式*/
.el-button:focus:not(.el-button:hover) {
    border: 1px solid var(--el-button-border-color);
    color: var(--el-button-text-color);
    background: var(--el-button-bg-color);
}

.el-dialog {
    overflow: hidden;
    min-width: 400px;
}

.ek-table .cell {
    padding: 0 12px;
    white-space: normal;
}