/**
* $level_style 主轴对其方式
* $vertical_style 主轴方向
* $isWrapper 换行方式
*/
@mixin flex($level_style: space-between, $vertical_style: row, $isWrapper: nowrap) {
    display: flex;
    align-items: center;
    justify-content: $level_style;
    flex-wrap: $isWrapper;
    flex-direction: $vertical_style;
}

@mixin minWidth() {
    min-width: 1200px;
}

%scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background: var(--v3-appmain-scollbar-background);
    }

    &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: var(--v3-appmain-scollbar-background);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: var(--v3-appmain-scrollbar-thumb-background);
    }
}