// @import './@/src/components/FreeCalendar/src/style/variables.css';
@import 'variables.css';

.free-calendar-container {
    // --fc-bg-color: #fff;
    // --fc-button-bg-color: #2c3e50;
    // --fc-button-border-color: #2c3e50;
    // --fc-button-text-color: #fff;
    // --fc-button-hover-bg-color: #1e2b37;
    // --fc-button-hover-border-color: #1a252f;
    // --fc-button-active-bg-color: #1a252f;
    // --fc-button-active-border-color: #151e27;

    background-color: var(--fc-bg-color);
    padding: 12px;

    .fs-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 12px;

        &__button-group {
            .fc-button {
                &:not(:first-child) {
                    border-bottom-left-radius: 0px;
                    border-top-left-radius: 0px;
                }

                &:not(:last-child) {
                    border-bottom-right-radius: 0px;
                    border-top-right-radius: 0px;
                }

                &.active {
                    // outline: none;
                    background-color: var(--fc-button-active-bg-color);
                    border-color: var(--fc-button-active-border-color);
                    color: var(--fc-button-text-color);
                }
            }
        }

        &__title {
            .title {
                font-size: 1.75em;
                margin: 0;
            }
        }
    }

    .fc-button {
        border: 1px solid transparent;
        display: inline-block;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5;
        padding: 0.4em 0.65em;
        text-align: center;
        user-select: none;
        vertical-align: middle;
        appearance: button;
        margin: 0;
        overflow: visible;
        text-transform: none;

        &__primary {
            background-color: var(--fc-button-bg-color);
            border-color: var(--fc-button-border-color);
            color: var(--fc-button-text-color);

            &:active {
                background-color: var(--fc-button-active-bg-color);
                border-color: var(--fc-button-active-border-color);
                color: var(--fc-button-text-color);
                box-shadow: rgba(76, 91, 106, 0.5) 0px 0px 0px 0.2rem;
            }

            &:hover {
                background-color: var(--fc-button-hover-bg-color);
                border-color: var(--fc-button-hover-border-color);
                color: var(--fc-button-text-color)
            }

            &:focus {
                outline: none;
            }
        }
    }
}